@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sørger for at siden kan fylde hele skærmen */
html,
body,
#root {
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
}

/* Fonte */
:root {
  --font-primary: "Cinzel Decorative", serif;
  --font-secondary: "Spectral", serif;
}

/* Standard typography */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000;
  font-family: var(--font-secondary);
}

/* Hjælpeklasser til fonte */
.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

/* Landing page baggrund */
.landing-bg {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.menu-bg {
  height: 100%;
  background-image: url("/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Mobil baggrund */
@media (max-width: 767px) {
  .landing-bg {
    background-image: url("/bg-landingpage-mobile.png");
    background-position: top;
  }
}

/* Desktop baggrund */
@media (min-width: 768px) {
  .landing-bg {
    background-image: url("/bg-landingpage-desktop.png");
    background-position: center 25%;
  }
}

/* Subpage baggrund (Booking, Escape Games, Kontakt Os, Priser) */
.subpage-bg {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 767px) {
  .subpage-bg {
    background-image: url("/bg-mobile.png");
    background-position: top;
  }
}

@media (min-width: 768px) {
  .subpage-bg {
    background-image: url("/bg-desktop.png");
    background-position: center;
  }
}
